aiohttp
aiosignal
async-timeout
attrs
certifi
charset-normalizer
confluent-kafka
fastavro
frozenlist
idna
multidict
numpy
openai
pandas
py4j
pyspark
python-dateutil
pytz
requests
six
tqdm
tzdata
urllib3
yarl
